.container {
    background-color: rgb(65,150,164);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 2px;
    padding-left: 20px;
    color: white;
}

.span {
    font-weight: 700;
}